<footer class="footer">
  <small>
    The eNETS integration test site.
  </small>
  <nav>
    <ul>
      <li><%= link_to "NETS",   'https://www.nets.com.sg/' %></li>
      <li><%= link_to "Developer-Page", 'https://api-developer.nets.com.sg/' %></li>
    </ul>
  </nav>
</footer>
